input#submit {
    margin:1% 47% 0;
}
div#from {
    display: grid;
    align-content: center;
    text-align: center;
}
div#to {
    display: grid;
    align-content: center;
    text-align: center;
}
div#result {
    font-family: "Passions Conflict", serif;
    font-size: 72px;
    background: crimson;
    color: azure;
    text-align: center;
}